<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Ayukey" />
<meta name="description" content="Giant SDK Log Server" />
<meta name="keywords" content="SDK Log" />

<!-- 第三方 CSS库 -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<!-- 自定义 CSS库 -->

<!-- 第三方 JS库 -->
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<!-- 自定义 JS库 -->