{{template "base/base.html" .}} {{define "header"}}
<title>消息中心</title>
{{end}} {{define "body"}}
<div class="col-md-6 col-md-offset-3 container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            请选择你所要的设备
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {{if .HasDevice}} {{range .Devices}}
            <li><a name="{{.IPAddress}}">{{.Name}}</a></li>
            {{end}} {{else}}
            <li><a href="#">无记录</a></li> {{end}}
        </ul>
    </div>
</div>


<div class="container">

</div>

<script type="text/javascript ">
    $(function() {
        console.log($(".dropdown-menu").html())
        $(".dropdown-menu a").click(function() {
            value = $(this).attr("name");
            $("#dropdownMenu1").text(value);

        })
    })

    function connectDevice() {
        socket = new WebSocket('ws://' + window.location.host + '/ws/join?uname=' + $('#uname').text());
        // Message received on the socket
        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            console.log(data);
            switch (data.Type) {
                case 0: // JOIN
                    if (data.User == $('#uname').text()) {
                        $("#chatbox li").first().before("<li>You joined the chat room.</li>");
                    } else {
                        $("#chatbox li").first().before("<li>" + data.User + " joined the chat room.</li>");
                    }
                    break;
                case 1: // LEAVE
                    $("#chatbox li").first().before("<li>" + data.User + " left the chat room.</li>");
                    break;
                case 2: // MESSAGE
                    $("#chatbox li").first().before("<li><b>" + data.User + "</b>: " + data.Content + "</li>");
                    break;
            }
        };
    }
</script>
{{end}}